/**
私たちについて
 */
#about-us {
    z-index: 0;
    color: #111111;
}
.about-us-base {
    position: absolute;
    display: flex;
    max-width: 100vw;
    height: 55vw;
    overflow: hidden;
    .left-base {
        width: 10vw;
        background-color: #8b0000;
    }
    .right-base {
        width: 90vw;
        z-index: -1;
    }
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 10vw;
        border-bottom: 55vw solid transparent;
        border-left: 22vw solid #8b0000;
    }
    @media screen and (max-width: 767px){
        & {
            height: 78vw;
        }
        &::before {
            border-bottom: 78vw solid transparent;
            border-left: 25vw solid #8b0000;
        }
    }
}
.about-us-base::before {
    //content: "";
    //z-index: -1;
    //position: absolute;
    //top: 0;
    //left: 10vw;
    //border-bottom: 50vw solid transparent;
    //border-left: 20vw solid #8b0000;
}
.about-us-main {
    position: relative;
}

.btn-area {
    max-width: 100%;
    display: block;
    color: #fff;
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.btn {
    max-width: 100%;
    padding: 1rem 5rem;
}
