/**
リクルートとニューズ
 */
#recruit-news {
    position: relative;
    height: 100vw;
    border-bottom: 1px solid #999999;
    @media screen and (max-width: 767px){
        padding-bottom: 5vw;
        height: 200vw;
    }
    .recruit-img {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .btn-link {
        p {
            font-size: 25px;
            line-height: 23px;
        }

        padding: 22px 32px;
        max-width: 300px;
        min-width: 300px;
        @media screen and (max-width: 767px){
            min-width: 40vw;
            max-width: 40vw;
            padding: 11px 16px;
            p {
                font-size: 14px;
            }
        }
    }

    .btn-link::after {
        width: 8px;
        height: 8px;
        @media screen and (max-width: 767px){
            width: 2em;
            height: 2em;
        }
    }

}

.background-base {
    position: absolute;
    display: flex;
    max-width: 100vw;
    height: 110vw;
    overflow: hidden;
    @media screen and (max-width: 767px){
        height: 210vw;
    }

    .left-base {
        width: 90vw;
        @media screen and (max-width: 767px){
            width: 95vw;
        }
    }

    .right-rotate {
        width: 10vw;
        height: auto;
        background-color: #8b0000;
        border-left: 1px solid #8b0000;
        @media screen and (max-width: 767px){
            width: 5vw;
        }
    }
}

.background-base::after {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 10vw;
    content: "";
    border-top: 110vw solid transparent;
    border-right: 60vw solid #8b0000;
    @media screen and (max-width: 767px){
        right: 5vw;
        border-top: 210vw solid transparent;
        border-right: 80vw solid #8b0000;
    }
}

#recruit {
    max-height: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    @media screen and (max-width: 767px) {
        .recruit-main {
            position: absolute;
            z-index: 11;
            top: 50%;
            transform: translateY(-50%);
        }
        .btn-link-reverse {
            bottom: -30vw;
            position: absolute;
            left: 50%;
            transform: translate(-50%,-30%);

        }
    }
}

.recruit-news-content {
    position: relative;
    top: 0;
    left: 0;
    @media screen and (max-width: 767px){
        top: 5vh;
        padding-bottom: 5rem;
    }

    img {
        left: 0;
        height: auto;
        overflow: hidden;
    }
}

#news {
    z-index: 0;
    @media screen and (max-width: 767px){
        margin-top: 5rem;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        .mt-5 {
            margin-top: 5rem;
        }
        .mb-3 {
            margin-bottom: 3rem;
        }
        .mb-5 {
            margin-bottom: 5rem;
        }
        .sp-news-width {
            width: 90vw;
            margin: 0 auto;
        }
        p {
            font-size: .75rem;
        }

    }
    .bg-white {
        box-shadow: #111111;
        border: 1px solid #111111;
    }

    .row {
        margin-top: 0;
    }

    .content-area {
        p {
            margin-bottom: 0;
        }
    }
}