section#entry-btn
    .container-fluid
        .row
            .col-md-8.offset-md-2
                .btn-entry-wrap.text-center
                    a.btn-entry(href="")
                        p.font-ja エントリー

                .to-top-wrap.text-center
                    a.to-top
                        p.font-ja 募集要項トップへ戻る