section#job-detail
    .container-fluid
        .row
            .col-md-10.offset-md-1
                table.table.table-bordered
                    tr
                        th.font-ja.align-middle 募集職種
                        td.font-ja.align-middle
                            ul
                                li コールセンター
                                li テレフォンアポインター
                                li サポートスタッフ
                    tr
                        th.font-ja.align-middle 仕事内容
                        td.font-ja.align-middle
                            ul
                                li 電話をかける
                                li データ入力など
                            p 法人企業宛てに大手オフィス用品通販サービスのカタログ送付などの
                                br
                                | 会員獲得のご案内をお願いします！
                            br
                            p マニュアルを見ながらリストに沿ってさくさく電話をかけ続けていただくお仕事です！
                                br
                                | 1時間に1件獲得できるため未経験の方でもカンタンにできるんです。
                            br
                            p さらに、、、ノルマはありません♪ご安心ください！
                                br
                                | 会員獲得実績によるインセンティブあり！
                            br
                            p 未経験からはじめたスタッフも多数活躍中!!
                    tr
                        th.font-ja.align-middle 求める人材
                        td.font-ja.align-middle
                            ul.none-margin-bottom
                                li 主婦（夫）/ フリーター歓迎
                                li 扶養内勤務可
                                li 未経験OK
                                li 学歴不問
                            p.margin-bottom ※高校生不可
                            br
                            p 特別な資格や経験は一切不要！１つでも当てはまれば大歓迎！
                            br
                            p ☆オフィスワークに興味がある
                                br
                                | ☆子育てと両立したい
                                br
                                | ☆服やネイル、ピアスも楽しみたい
                                br
                                | ☆子供に何かあった時相談しやすい職場がいい
                                br
                                | ☆子育てが落ち着いたのでパートを探している
                    tr
                        th.font-ja.align-middle 勤務地
                        td.font-ja.align-middle
                            p 川崎コールセンター
                                br
                                | 神奈川県川崎市多摩区登戸3398-1 三井生命登戸ビル3F、6F
                            br
                            p 小田急小田原線・南部線　登戸駅徒歩5分
                    tr
                        th.font-ja.align-middle 勤務期間・時間
                        td.font-ja.align-middle
                            p 長期（3ヶ月以上）☆長期で働ける方大歓迎！
                            br
                            ul.none-margin-bottom
                                li 週2日以上、1日4時間以上
                                li シフト自由・自己申告
                                li 【勤務時間】 9:00〜17:00
                            p 上記時間内で4H〜OK♪
                            p 1時間ごとに5分のリフレッシュ休憩あり♪
                            br
                            p 「保育園/幼稚園の都合があって」
                            p 「しっかりフルタイムで入りたい」
                            p 「家事と両立したい」
                            p 「自分の時間も欲しい」など
                            br
                            p 小さいお子さんがいるスタッフも多いため、働き方は相談OKです。
                            br
                            p ♪土日休み
                            p ♪曜日も相談OK
                    tr
                        th.font-ja.align-middle 給与
                        td.font-ja.align-middle
                            p 時給1,050〜1,150円以上＋交通費支給
                            p ◆昇給あり
                            p 頑張り次第で別途インセンティブあり☆
                            p (最大２万円まで/月)
                            br
                            p ◆月間100h以下or扶養内勤務
                            p 時給1.050円〜
                            p （研修期間：最長半年　時給1,000円〜）
                            br
                            p ◆月間100h以上
                            p 時給1,150円〜
                            p （研修期間：最長半年　時給1,100円〜
                            br
                            p ◆支払い方法：月１回
                    tr
                        th.font-ja.align-middle 昇給・賞与
                        td.font-ja.align-middle
                            p 昇給あり
                            p インセンティブあり
                    tr
                        th.font-ja.align-middle 諸手当
                        td.font-ja.align-middle
                            p ◆交通費：別途一部支給
                            p （11,000円まで/月）
                    tr
                        th.font-ja.align-middle 休日・休暇
                        td.font-ja.align-middle
                            p 土日・祝日
                            p 平日はシフト自己申告制
                    tr
                        th.font-ja.align-middle 待遇・福利厚生
                        td.font-ja.align-middle
                            ul
                                li 休憩室完備
                                li 研修制度あり
                                li 扶養内勤務可
                                li インセンティブあり（最大20,000円/月）
                                li 有給休暇あり（規定あり）
                                li 交通費支給（最大11,000円/月）
                                li 正社員登用実績あり
                                li 昇給あり
                                li ネイル・ピアスOK
                                li 服装・髪型・髪色自由
                                li シフト自己申告制