section#message
    .container-fluid
        .row
            .col-md-10.offset-md-1
                p.font-ja 川崎コールセンターでは、通販サービスのカタログの送付や会員獲得のご案内を行っております。
                p.font-ja マニュアルを見ながら電話をかけ続けていただくお仕事で、ノルマはありません。未経験から始めたスタッフも、多数活躍しております。
                p.font-ja 川崎コールセンターの詳しい募集要項は、こちらよりご確認ください。皆様のご応募お待ちしております。

