section#top-img

    nav.breadcrumb-wrap(aria-label="ぱんくずリスト" style="--bs-breadcrumb-divider: '>';")
        ol.breadcrumb(style="")
            li.breadcrumb-item
                a(href="/").font-ja ホーム
            li.breadcrumb-item
                a(href="/recruit").font-ja 採用情報
            li.breadcrumb-item(aria-current="採用情報").font-ja 募集要項（川崎コールセンター・テレフォンアポインター）
    .title-area
        h1.font-en.title 募集要項（川崎コールセンター・テレフォンアポインター）
