section#about-us
    .about-us-base
        .left-base
        .right-base
    .about-us-main
        .container-fluid
            .row
                .col-md-6.white-rotate.pb-5.offset-md-3.col-10.offset-1.pt-4
                    h2.section-title.font-en.mt-5.mb-2.text-center About Us
                        br
                        .red-line
                    p.font-ja.text-center.mb-5.section-sub-title.small-80 私たちについて
                    p.font-ja.text-center 山路を登りながら、こう考えた。智に働けば角が立つ。情に棹させば流される。意地を通せば窮屈だ。とかくに人の世は住みにくい。住みにくさが高じると、安い所
                    a(href="").btn-link.my-5
                        p.font-en Philosophy
                            br
                            span.small-50 私たちの想い
                    a(href="").btn-link.mb-3
                        p.font-en Company Infomation
                            br
                            span.small-50 サービス紹介
