footer.pt-5
    .container-fluid.footer-main.mt-5
        .row.mt-5
            .col-md-2.col-5.offset-md-1.offset-1
                a(href="/philosophy").footer-link
                    p.font-ja.font-weight-bold.start 私たちの想い
                .footer-link__wrap
                    a(href="/company").footer-link
                        p.font-ja.font-weight-bold 企業情報
                    a(href="/company/summary").footer-link
                        p.font-ja - 会社概要
                a(href="/news").footer-link
                    p.font-ja.font-weight-bold お知らせ
            .col-md-4.col-6
                .footer-link__wrap
                    a(href="/service").footer-link
                        p.font-ja.font-weight-bold サービス紹介
                    a(href="/service/auto-call").footer-link
                        p.font-ja - オートコールシステム（MEGA-CALL)
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="/service/crm").footer-link
                        p.font-ja - CRMシステム(Omni Contact)
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="/service/omii-phone").footer-link
                        p.font-ja - IP電話機（Omii Phone)
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="/service/file-maker").footer-link
                        p.font-ja - ファイルメーカー
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="/service/call-center-design").footer-link
                        p.font-ja - コールセンター設計・構築
                            span.link-icon
                    a(href="/service/call-center").footer-link
                        p.font-ja - コールセンター事業
                            span.link-icon

            .col-md-2.col-5.offset-1.offset-md-0
                .footer-link__wrap
                    a(href="/recruit").footer-link
                        p.font-ja.font-weight-bold 採用情報
                    a(href="/recruit/message").footer-link
                        p.font-ja - メッセージ
                    a(href="/recruit/about-us").footer-link
                        p.font-ja - アセンドを知る
                    a(href="/recruit/job-description").footer-link
                        p.font-ja - 募集要項

            .col-md-2.col-5
                a(href="/contact/").footer-link
                    p.font-ja.font-weight-bold.start お問い合わせ
                a(href="/solicitation-policy").footer-link
                    p.font-ja.font-weight-bold.start 勧誘方針
                a(href="/margin").footer-link
                    p.font-ja.font-weight-bold.start マージン率の公開
                a(href="/privacy-policy").footer-link
                    p.font-ja.font-weight-bold.start プライバシーポリシー
        .row.mt-3.mb-3
            .col-md-3.offset-md-8.row.col-8.offset-2
                .col-4.file-icon
                    img(src="/img/file-logo.png")
                .col-4.file-icon
                    img(src="/img/aws-logo-icon.png")
                .col-4.file-icon
                    img(src="/img/607424.jpg")
    .footer-copyRight
        p.text-center.font-en Copyright©︎2021 Ascend Corporation. All Right Reserved.