footer.mt-5.pt-3
    .container-fluid.footer-main.mt-5
        .row.mt-5
            .col-md-2.col-6.offset-md-1
                a(href="").footer-link
                    p.font-ja.font-weight-bold 私たちの想い
                .footer-link__wrap
                    a(href="").footer-link
                        p.font-ja.font-weight-bold 企業情報
                    a(href="").footer-link
                        p.font-ja - 会社概要
                a(href="").footer-link
                    p.font-ja.font-weight-bold お知らせ
            .col-md-4.col-6
                .footer-link__wrap
                    a(href="").footer-link
                        p.font-ja.font-weight-bold サービス紹介
                    a(href="").footer-link
                        p.font-ja - オートコールシステム（MEGA-CALL)
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="").footer-link
                        p.font-ja - CRMシステム(Omni Contact)
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="").footer-link
                        p.font-ja - IP電話機（Omii Phone)
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="").footer-link
                        p.font-ja - ファイルメーカー
                            span.link-icon
                                i.bi.bi-box-arrow-up-right
                    a(href="").footer-link
                        p.font-ja - コールセンター設計・構築
                            span.link-icon
                    a(href="").footer-link
                        p.font-ja - コールセンター事業
                            span.link-icon

            .col-md-2.col-6
                .footer-link__wrap
                    a(href="").footer-link
                        p.font-ja.font-weight-bold 採用情報
                    a(href="").footer-link
                        p.font-ja - メッセージ
                    a(href="").footer-link
                        p.font-ja - アセンドを知る
                    a(href="").footer-link
                        p.font-ja - 募集要項

            .col-md-2.col-6
                a(href="").footer-link
                    p.font-ja.font-weight-bold お問い合わせ
                a(href="").footer-link
                    p.font-ja.font-weight-bold 勧誘方針
                a(href="").footer-link
                    p.font-ja.font-weight-bold マージン率の公開
                a(href="").footer-link
                    p.font-ja.font-weight-bold プライバシーポリシー
    .container-fluid
        .row.mt-5.mb-3
            .col-md-3.offset-md-8.row.col-6.offset-3
                .col-4.file-icon
                    img(src="./img/file-logo.png")
                .col-4.file-icon
                    img(src="./img/aws-logo-icon.png")
                .col-4.file-icon
                    img(src="./img/607424.jpg")
    .footer-copyRight.bg-danger
        p.text-center.font-en Copyright©︎2021 Ascend Corporation. All Right Reserved.