header.container-fluid
    nav.row.nav-height
        .col-md-5.font-ja.col-8.offset-2.offset-md-0.row
            a.col-2.logo-img-wrap.text-right(href="/")
                img.logo-img(src="/img/company_icon.png")
            .col-10
                a.title.font-ja(href="/") 株式会社アセンド
        .col-md-7.pc-nav
            ul.row.nav-menu.nav-link-none
                li.col-md.offset-md-2.nav-link-item
                    a(href="/philosophy").nav-link
                        .nav-item Philosophy
                            br
                            span.small-70.font-ja 私たちの想い
                li.col-md.nav-link-item
                    a(href="/service").nav-link
                        .nav-item Service
                            br
                            span.small-70.font-ja サービス紹介
                li.col-md.nav-link-item
                    .nav-link.in-submenu
                        .nav-item Company
                            br
                            span.small-70.font-ja 企業情報
                    ul.sub-nav-menu
                        li
                            a.sub-nav-item(href="/company").font-ja 企業情報トップ
                        li
                            a.sub-nav-item(href="/company/summary").font-ja 会社概要
                li.col-md.nav-link-item
                    .nav-link.in-submenu
                        .nav-item Recruit
                            br
                            span.small-70.font-ja 採用情報
                    ul.sub-nav-menu.font-ja
                        li
                            a.sub-nav-item(href="/recruit/message") 採用情報トップ
                        li
                            a.sub-nav-item(href="/recruit/about-us") アセンドを知る
                        li
                            a.sub-nav-item(href="/recruit/job-description") 募集要項
                li.col-md.nav-link-item
                    a(href="/contact").nav-link-img
                        img.email-icon(src="/img/mail_icon-icons.com_72317.png")
        .col-xs-3.offset-xs-4
            .hamburger-menu
                input#drawer-check(type="checkbox").drawer-hidden
                label.menu-btn(for="drawer-check")
                    span
                ul.nav-link.nav-link-none.col-11.offset-1.hamburger-content.pt-5
                    li.nav-item.py-4
                        a(href="/philosophy").nav-link
                            .nav-item Philosophy
                                br
                                span.small-80.font-ja 私たちの想い
                        .red-line
                    li.nav-item.pb-4
                        a(href="/service").nav-link
                            .nav-item Service
                                br
                                span.small-80.font-ja サービス紹介
                        .red-line
                    li.nav-item.pb-4
                        .row
                            .col-10
                                .nav-link.in-accordion
                                    .nav-item Company
                                        br
                                        span.small-80.font-ja 企業情報
                                ul.sub-nav-menu.pl-3
                                    li.py-2.pl-5
                                        a.sub-nav-item(href="/company") 企業情報トップ
                                    li.py-2.pl-5
                                        a.sub-nav-item(href="/company/summary") 会社概要
                            .col-2.open-btn
                                i.bi.bi-plus
                            .col-2.close-btn
                                i.bi.bi-dash
                        .red-line
                    li.nav-item.pb-4
                        .row
                            .col-10
                                .nav-link.in-accordion
                                    .nav-item Recruit
                                        br
                                        span.small-80.font-ja 採用情報
                                ul.sub-nav-menu.pl-5
                                    li.py-2.pl-3
                                        a.sub-nav-item(href="/recruit") 採用情報トップ
                                    li.pb-2.pl-3
                                        a.sub-nav-item(href="/recruit/about-us") アセンドを知る
                                    li.pb-2.pl-3
                                        a.sub-nav-item(href="/recruit/job-description") 募集要項
                            .col-2.open-btn
                                i.bi.bi-plus
                            .col-2.close-btn
                                i.bi.bi-dash
                        .red-line
                    li.nav-item.pb-4
                        a(href="/news").nav-link
                            .nav-item News
                                br
                                span.small-80.font-ja お知らせ
                        .red-line
                    li.nav-item.pb-4
                        .row
                            a(href="/contact").col-10.offset-1.contact.row.py-3
                                .col-1.offset-3
                                    img(src="./img/mail_icon-icons.com_72317.png")
                                .col-5.nav-item
                                    .font-ja.contact-btn お問い合わせ