section#recruit-news
    .background-base
        .left-base
        .right-rotate
    .recruit-news-content
        #recruit.row.mb-3
            .col-md-6.recruit-img
                img(src="./img/pixta_62345073_XL.jpg")
            .col-md-5.recruit-main
                h2.section-title.font-en.mt-5.mb-2.text-center Recruit
                    br
                    .red-line
                p.mb-5.font-ja.text-center.section-sub-title.small-80 採用情報
                a(href="").btn-link-reverse.my-3
                    p.font-en more
        #news
            .container-fluid
                .row.my-5
                    .col-md-8.offset-md-2.bg-white
                        .title-area
                            h2.section-title.font-en.mt-5.mb-2.text-center News
                                br
                                .red-line
                            p.mb-3.font-ja.text-center.section-sub-title.small-80 お知らせ
                        .content-area.row
                            .row.col-md-10.offset-md-1.sp-news-width
                                .col-md-12
                                    hr
                                .col-md-3.col-4
                                    p.text-left.font-ja.top 2021年5月1日
                                .col-md-9.col-8
                                    p.text-left.font-ja.top ここに見出しが入ります。
                            .row.col-md-10.offset-md-1.sp-news-width
                                .col-md-12
                                    hr
                                .col-md-3.col-4
                                    p.text-left.font-ja 2021年5月1日
                                .col-md-9.col-8
                                    p.text-left.font-ja
                                        | ここに見出しが入ります。見出しが長い場合の見え方です。ここに見出しが入ります。見出しが長い場合の見え方です。ここに見出しが入ります。見出しが長い場合の見え方です。
                                        | ここに見出しが入ります。見出しが長い場合の見え方です。
                            .row.mb-5.col-md-10.offset-md-1.sp-news-width
                                .col-md-12
                                    hr
                                .col-md-3.col-4
                                    p.text-left.font-ja 2021年5月1日
                                .col-md-9.col-8
                                    p.text-left.font-ja
                                        | ここに見出しが入ります。ここに見出しが入ります。ここに見出しが入ります。ここに見出しが入ります。ここに見出しが入ります。
                                        | ここに見出しが入ります。
                            a(href="").btn-link.mb-5.mt-5
                                p.font-en more