section#service.container-fluid.bg-off-white.pb-5
    .row
        .col-md-6.offset-md-3.col-10.offset-1
            h2.section-title.font-en.mt-5.text-center Service
                br
                .red-line
            p.mb-5.font-ja.text-center.section-sub-title.small-80 サービス紹介

            p.font-ja.text-center 山路を登りながら、こう考えた。智に働けば角が立つ。情に棹させば流される。意地を通せば窮屈だ。とかくに人の世は住みにくい。住みにくさが高じると、安い所

            a(href="").btn-link.my-5
                p.font-en more
                    br
                    span.small-60