section.top-img
    .bg-img.position-absolute
        img.img-fluid(src="./img/GettyImages-1189969126.jpg")
    .main-area
        .container-fluid
            .row
                .col-6.offset-6.main-title
                    p.font-en To make a long-term growth,
                    h1.title.font-en start a relationship.
                    .row
                        .col-md-10.offset-md-2
                            p.text-center.font-ja 長く続く成長の過程を、共に進み始めよう。
    a#scroll(href="#about-us").text-uppercase.font-en Scroll