@import "../reset";
@import "../include/common";
@import "../include/header";
@import "../include/footer";
@import "../include/breadcrumb";
@import "top-img";
@import "message";
@import "detail";
/**
フッターの色変更
 */
footer {
    background-color: #ccc;
    .footer-main {
        background-color: #ccc;
    }
    .footer-copyRight {
        background-color: #EF454A;
    }
}