section#detail
    .container-fluid
        .row
            .col-md-10.offset-md-1
                .detail-message
                    p.font-ja 株式会社アセンドでは「毎朝働きたい会社」をモットーに社員一人一人が最大限のパフォーマンスを発揮できるように、働く環境や、
                        | 業務内容、福利厚生、話しやすい環境など、様々な取り組みを行っています。
                    p.font-ja 社長・役員・社員がひとりでできることなどたかが知れていますが、やる気のある集団は必ず大きな事業を成し遂げられると信じています。
                    p.font-ja 皆様のご応募お待ちしております。
                .card-wrap.row
                    .col-md-4
                        .card
                            .card-img-top
                                img(src="/img/GettyImages-1189969126.jpg")
                            .card-body
                                h3.font-ja メッセージ
                                p.font-ja アセンドから皆様へ
                                a.text-right(href="#")
                                    .more-btn more
                    .col-md-4
                        .card
                            .card-img-top
                                img(src="/img/GettyImages-1189969126.jpg")
                            .card-body
                                h3.font-ja アセンドを知る
                                p.font-ja 事業内容、福利厚生などをご紹介
                                a.text-right(href="#")
                                    .more-btn more
                    .col-md-4
                        .card
                            .card-img-top
                                img(src="/img/GettyImages-1189969126.jpg")
                            .card-body
                                h3.font-ja 募集職種一覧
                                p.font-ja 　
                                a.text-right(href="#")
                                    .more-btn more