section#message
    .message-base
        .left-base
            img(src="/img/pixta_62345073_XL.jpg")
        .right-base
        .message-main
            .container-fluid
                .row
                    .col-md-6.offset-md-6
                        h2.message-title.font-ja 「毎朝行きたい会社」
                        p.message-content.font-ja アセンドは社員が満足できる、
                            br
                            | より働きたくなる会社をめざしています。