extends ../_layout

block stylesheet
    link(rel="stylesheet" href="/css/recruit/style.min.css")

block title
    title 株式会社アセンド 採用情報

block content
    include ../include/_header
    main
        include _top-image
        include _message
        include _detail
    include ../include/_footer