section#ease-of-work
    .container-fluid
        .row
            .col-md-10.offset-md-1
                .row
                    p.font-ja 働きやすさ
                    .col-md-6.mb-3
                        .card
                            .card-header
                                h3.border-red.font-ja.card-title.text-center 柔軟な勤務時間・場所
                            .card-body
                                .row
                                    .card-img.sp.col-12
                                        img(src="")
                                    .card-text.col-md-8
                                        p.font-ja 朝の通勤ラッシュを避けるため、10時始業です。
                                        p.font-ja また育況、介護、病気の治療がある場合等ではテレワークでの稼働や、時短勤務も可能になっています。
                                    .col-md-4.card-img.pc
                                        img(src="")
                    .col-md-6.mb-3
                        .card
                            .card-header
                                h3.border-red.font-ja.card-title.text-center 開発環境の整備
                            .card-body
                                .row
                                    .card-img.sp.col-12
                                        img(src="")
                                    .card-text.col-md-8
                                        p.font-ja デュアルディスプレイや高スペックPCなど、生産性が上がるための環境を希望者には用意しています。また開発に必要な機材や端末は会社で準備します。
                                    .card-img.pc.col-md-4
                                        img(src="")
                .row
                    .col-md-6.mb-3
                        .card
                            .card-header
                                h3.border-red.font-ja.card-title.text-center 新たなアイディアを積極的に採用
                            .card-body
                                .row
                                .card-img.sp.col-12
                                    img(src="")
                                .card-text.col-md-8
                                    p.font-ja 自社サービスが開発の中心となるため、新技術や新サービス等を取り入れて開発していく文化があります。社外セミナーにも積極的に参加しています。
                                .card-img.pc.col-md-4
                                    img(src="")
                    .col-md-6.mb-3
                        .card
                            .card-header
                                h3.border-red.font-ja.card-title.text-center フリードリンク常備
                            .card-body
                                .row
                                    .col-12.card-img.sp
                                        img(src="")
                                    .card-text.col-md-8
                                        p.font-ja どんなに優秀なスタッフでも集中は長く続かないものです。ほっと一息入れるためにコーヒー、緑茶、みそ汁などを自由に飲むことができるサーバーを用意しています。
                                    .card-img.col-md-4.pc
                                        img(src="")
