section#job-condition
    .container-fluid
        .row
            .col-md-10.offset-md-1.row
                p.font-ja.pb-4 勤務条件
                .col-md-4.mb-3
                    .card.pb-5
                        .card-body
                            p.text-center.card-title 勤務時間
                            .row.card-text
                                .col-5
                                    h3.border-red.font-ja.text-right.align-middle 8時間
                                .col-7
                                    p.font-ja 10:00〜19:00
                                    p.font-ja 残業は月10時間程度
                .col-md-4.mb-3
                    .card.pb-1
                        .card-body
                            p.text-center.padding.card-title 給与
                            h3.border-red.font-ja.card-text.text-center 月収22万〜50万円
                            p.font-ja.card-text.small-70.pl-2 経験やスキルを考慮した上で決定します。
                            p.font-ja.card-text.small-70.pl-2 ※エンジニアとしてのご経験をお持ちの方は月給35万円以上も可能
                .col-md-4.mb-3
                    .card
                        .card-body
                            p.text-center.padding.card-title 給与・賞与
                            p.font-ja.card-text.pl-2 昇給/随時
                            p.font-ja.card-text.pl-2 賞与/あり※業績連動
            .col-md-10.offset-md-1.row
                .col-md-4.my-3
                    .card
                        .card-body
                            p.text-center.font-ja.card-title 諸手当
                            .row.card-text
                                .col-md-8.offset-md-2
                                    p.font-ja 交通費全額支給
                                    p.font-ja 残業代全額支給
                                    p.font-ja 出張手当
                .col-md-4.my-3
                    .card
                        .card-body
                            p.card-title.text-center.font-ja 年間休日
                            h3.border-red.font-ja.card-text.pl-2 120日以上
                                span (年による）
                            p.font-ja.card-text.pl-2
                                span.small-70 完全週休2日制（土日）祝日、年末年始休暇、
                                    br
                                    | 夏季休暇、有給休暇、慶弔休暇、特別休暇
                .col-md-4.my-3
                    .card
                        .card-body
                            p.card-title.text-center.font-ja.padding 福利厚生
                            p.font-ja.card-text 各種保険完備（雇用・労災・健康・厚生年金）
                            p.font-ja.card-text 退職金制度、社員持株会制度、産休・育休制度、慶弔見舞金制度、部活動補助

