section#understand-number
    .container-fluid
        .row
            .col-md-10.offset-md-1.row
                p.font-ja 数字で分かるアセンド
                .col-md-8
                    .card
                        .card-img
                            img(src="/img/recruit/about-us-changed.jpg")
                .col-md-4
                    .card
                        .card-body
                            p.text-center.card-title 平均年齢
                            .row.card-text
                                .col-6
                                    img(src="/img/file-icon.png")
                                .col-6
                                    p.text-center.font-ja 34.8歳

